* { padding:0; margin:0; outline:0; }
body {
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#666;
	background:#eeefef;
}

.left { float:left; display:inline; }
.right { float:right; display:inline; }

a { color:#364f86; text-decoration: none; cursor:pointer; }
a:hover { color:#000; }

.orange { color:#d96a02; }
.red { color:#be4856; }

.shell { width:980px; margin:0 auto; }


h1, h2, h3, h4, h5 { font-family: "Trebuchet MS", Arial, sans-serif; padding-bottom:8px; }
h1 { font-size:18px; line-height:22px; }
h2 { font-size:17px; line-height:21px; }
h3 { font-size:16px; line-height:20px; }
h4 { font-size:15px; line-height:19px; }
h5 { font-size:14px; line-height:18px; }
h6 { font-size:12px; line-height:16px; padding-bottom:5px; }

#header { background:#364f86; height:82px; }
#header h1{ float:left; white-space:nowrap; padding-top:8px; font-size:25px; line-height:35px; color:#fff;}
#header a{ color:#fff }
#header a:hover{ color:#a1adc7; }

#header #head { height:43px; overflow:hidden; }
#header .right { color:#fff; white-space:nowrap; font-size:10px; }
#header .right p{ padding-top:12px;}
#header .right a strong{ text-decoration: underline; }


#navigation { height:31px; }
#navigation ul{ list-style-type: none; padding-top:8px; font-size:11px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:31px; padding:0 0 0 8px; background:url(images/nav.gif) no-repeat 0 0; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color:#ddadab; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }


#help-nav { font-size:10px; line-height:15px; height:15px; padding-bottom:20px;}

#content { padding:10px 0 20px 0;}
#content p{ padding-bottom:15px;}
#content ol,
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}

#footer { text-align: center; font-size:11px; padding:10px 0 0 0; color:#666; background:url(images/footer.gif) repeat-x 0 0; height:148px; }
#footer a{ color:#333; }

.message { width:630px; height:50px; background-repeat:no-repeat; background-position:0 0; text-align: center; margin:0 auto 15px auto; font-size:13px;}
.message p{ padding-top:14px;}
.error-message { background-image:url(images/error.gif); color:#973729; }
.thank-message { background-image:url(images/thank.gif); color:#3d8b26; }

.functionBox{
    width: 290px;
    height: 80px;
    border: 1px solid gray;
    float: left;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.operationsBox
{
    background: #1484e6;
    margin: 10px 10px 10px 0;
}
.updateBox
{
    background: #FF8432;
    margin: 10px;
}
.queryBox
{
    background: #5cb85c;
    margin: 10px 0px 10px 10px;
}

.Test-Cases
{
    border: 1px solid #666;
    background: white;
    font-family: sans-serif;
    padding: 10px;
}

.contentBoxTestCases
{
    width: 50%;
    float: left;
}
.activeButton{
    opacity: 1.0;
}
.inactiveButton{
    opacity: 0.6;
}
